.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 1rem 0;
}

.content {
  padding: 0 2rem;
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.count {
  font-size: 0.9rem;
  margin-left: 0.1rem;
  margin-top: 0.125rem;
}

.createBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem;
  width: 95%;
  background-color: #6a9294;
  border-radius: 10px;
  color: #f9f9f9;
  font-size: 0.9rem;
  padding: 5px;
}

.createBtn svg {
  fill: #f9f9f9;
  width: 1.5rem;
}

@media screen and (width > 800px) {
  .page {
    flex-direction: row;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .content {
    margin-top: 1rem;
  }

  .createBtn {
    width: 15rem;
    margin-right: 0;
  }
}
